* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: green;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 10% 1rem;
}

.box {
  flex-grow: 1;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid lightgrey;
  margin-top: 2rem;
}

.box div:first-of-type {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.box span {
  font-size: 1.5rem;
  font-weight: bold;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: mediumseagreen;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem;
}

button:hover {
  background-color: darkgreen;
}
